<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yangilik24 - Yangiliklar websayti!</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <nav>
        <h1>Yangilik24</h1>
        <ul class="menu">
            <li><a href="#">Bosh sahifa</a></li>
            <li><a href="#">Yangiliklar</a></li>
            <li><a href="#">Biz haqimizda</a></li>
            <li><a href="#">Biz bilan aloqa</a></li>
        </ul>
        <ul class="personal">
            <a href="#">Ro'yxatdan o'tish</a>
            <a href="#">Tizimga kirish</a>
        </ul>
    </nav>

    <div class="news">
        <div class="new">
            <img src="https://avatars.mds.yandex.net/i?id=ccb18e071544fa7672aa34530b1edce9_l-10787799-images-thumbs&n=13" alt="">
            <h1>Yangilik 1</h1>
            <p>Yangilik 1 haqida batafsil!</p>
        </div>
        <div class="new">
            <img src="https://avatars.mds.yandex.net/i?id=ccb18e071544fa7672aa34530b1edce9_l-10787799-images-thumbs&n=13" alt="">
            <h1>Yangilik 2</h1>
            <p>Yangilik 2 haqida batafsil!</p>
        </div>
        <div class="new">
            <img src="https://avatars.mds.yandex.net/i?id=ccb18e071544fa7672aa34530b1edce9_l-10787799-images-thumbs&n=13" alt="">
            <h1>Yangilik 3</h1>
            <p>Yangilik 3 haqida batafsil!</p>
        </div>
        <div class="new">
            <img src="https://avatars.mds.yandex.net/i?id=ccb18e071544fa7672aa34530b1edce9_l-10787799-images-thumbs&n=13" alt="">
            <h1>Yangilik 4</h1>
            <p>Yangilik 4 haqida batafsil!</p>
        </div>
        <div class="new">
            <img src="https://avatars.mds.yandex.net/i?id=ccb18e071544fa7672aa34530b1edce9_l-10787799-images-thumbs&n=13" alt="">
            <h1>Yangilik 5</h1>
            <p>Yangilik 5 haqida batafsil!</p>
        </div>
    </div>
</body>
</html>